@import '~flag-icons/css/flag-icons.min.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@andresouzaabreu/vue-data-table/dist/DataTable.css';

:root {
  --app-background-color: #22262b;
  --app-text-primary-color: #fff;
  --app-text-secondary-color: #707070;
  --app-sidebar-color: #2d3036;
  --app-sidebar-icons-color: #a6a6a6;
  --app-border-color: #fff;
  --app-action-icons-color: #fff;
  --app-input-background-color: #3a3a3a;
  --app-input-placeholder-color: #a6a6a6;
  --app-table-button-color: #22262b;
  --app-major-update-color: #e7903c;
  --app-minor-update-color: #ffd700;
  --app-patch-update-color: #00d400;
}

[theme='dark'] {
  --app-background-color: #22262b;
  --app-text-primary-color: #fff;
  --app-text-secondary-color: #707070;
  --app-sidebar-color: #2d3036;
  --app-sidebar-icons-color: #a6a6a6;
  --app-border-color: #fff;
  --app-action-icons-color: #fff;
  --app-input-background-color: #3a3a3a;
  --app-input-placeholder-color: #a6a6a6;
  --app-table-button-color: #22262b;
  --app-major-update-color: #e7903c;
  --app-minor-update-color: #ffd700;
  --app-patch-update-color: #00d400;
}

[theme='light'] {
  --app-background-color: #fff;
  --app-text-primary-color: #22262b;
  --app-text-secondary-color: #454d57;
  --app-sidebar-color: #e3e3e3;
  --app-sidebar-icons-color: #707070;
  --app-border-color: #22262b;
  --app-action-icons-color: #22262b;
  --app-input-background-color: #e3e3e3;
  --app-input-placeholder-color: a6a6a6;
  --app-table-button-color: #fff;
  --app-major-update-color: #b50000;
  --app-minor-update-color: #aa2e00;
  --app-patch-update-color: #050;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__tags {
  border: 1px solid var(--app-text-primary-color);
  background: var(--app-background-color) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__single {
  background: var(--app-background-color) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__select {
  top: 50%;
  transform: translateY(-50%);
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__tags span img {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__element span img {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__input {
  background: var(--app-background-color) !important;
  color: #adadad;
}

.multiselect ::placeholder {
  color: #adadad;
}

/* stylelint-disable-next-line selector-class-pattern */
.multiselect__option {
  background: var(--app-background-color) !important;
}

.data-table {
  padding: 2vh 4vh;
}

.data-table-per-page span {
  color: var(--app-text-primary-color);
}

.data-table-pagination .pagination {
  overflow: initial;
}

.data-table-search-filter span {
  color: var(--app-text-primary-color);
}

.data-table-info {
  color: var(--app-text-primary-color);
}

.pagination-search {
  color: var(--app-text-primary-color);
}

.data-table-export-data span {
  color: var(--app-text-primary-color);
}

.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  color: var(--app-text-primary-color);
}

.table > :not(:first-child) {
  color: var(--app-text-primary-color);
}

.table-hover > tbody > tr:hover > * {
  color: var(--app-text-primary-color);
}

.page-link {
  color: #22262b;
}

.page-link:hover {
  color: #22262b;
}

.page-item.active .page-link {
  background-color: #22262b;
  border-color: #22262b;
}

.btn {
  color: var(--app-background-color);
}

.btn-primary {
  background-color: var(--app-text-primary-color);
  border-color: #22262b;
}

.btn-primary:hover {
  background-color: var(--app-background-color);
  border-color: var(--app-text-primary-color);
  color: var(--app-text-primary-color);
}

.data-table-sorting-icons {
  position: relative;
  padding-right: 20px;
}

.data-table-sorting-index {
  position: absolute;
  right: 5px;
}

.data-table-table .column.sortable:hover {
  color: #22262b;
}

.token-style {
  word-wrap: break-word;
  max-width: 600px;
}

@media (max-width: 700px) {
  .token-style {
    width: 100%;
  }

  .table > thead {
    display: none !important;
  }

  tr {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--app-text-primary-color);
    width: 100%;
  }

  td {
    border-bottom: 1px solid var(--app-text-primary-color);
    width: 100%;
  }

  table {
    display: block;
  }

  tbody {
    display: block;
    width: 100%;
  }

  .data-table-search-filter {
    display: initial;
    width: 100%;
    padding: 2vh;
  }

  .data-table-info {
    text-align: center;
  }

  .data-table-search-filter input {
    margin: 0;
    width: 100%;
  }

  .data-table-pagination .pagination-search {
    width: 100%;
    justify-content: center;
  }

  .data-table-pagination {
    width: 100%;
    justify-content: center;
  }

  .data-table-export-data {
    width: 100%;
    flex-direction: column;
  }

  .data-table-per-page {
    width: 100%;
    justify-content: center;
  }

  .btn-primary {
    margin: 2vh;
  }
}
